[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==2.1.1"
django-bootstrap-v5 = "==1.0.11"
django-debug-toolbar = "==3.5.0"
Django = "==4.1rc1"
Pillow = "==9.2.0"
django-environ = "==0.9.0"
requests = "==2.28.1"
django-fontawesome-5 = "==1.0.18"
django-dotenv = "==1.4.2"
djangorestframework = "==3.13.1"
django-filter = "==22.1"
drf-yasg = "==1.21.3"
markdown = "==3.4.1"
boto3 = "==1.24.33"
django-storages = "==1.12.3"
django-rest-swagger = "*"
asgiref = "==3.5.2"
attrs = "==21.4.0"
beautifulsoup4 = "==4.11.1"
botocore = "==1.27.33"
certifi = "==2022.6.15"
charset-normalizer = "==2.1.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
idna = "==3.3"
importlib-metadata = "==4.12.0"
importlib-resources = "==5.8.0"
inflection = "==0.5.1"
itypes = "==1.2.0"
jinja2 = "==3.1.2"
jmespath = "==1.0.1"
jsonschema = "==4.7.2"
markupsafe = "==2.1.1"
pyparsing = "==3.0.9"
pyrsistent = "==0.18.1"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
pyyaml = "==6.0"
"ruamel.yaml" = "==0.17.21"
"ruamel.yaml.clib" = "==0.2.6"
s3transfer = "==0.6.0"
six = "==1.16.0"
soupsieve = "==2.3.2.post1"
sqlparse = "==0.4.2"
swagger-spec-validator = "==2.7.4"
uritemplate = "==4.1.1"
urllib3 = "==1.26.10"
zipp = "==3.8.1"
uwsgi = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
