{% load static %}
<ul class="t-flex t-items-center t-text-base t-font-bold t-h-full nav-tab nav">
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'users:logout' %}">로그아웃</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'lists:list_detail' %}">장바구니</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">로그인</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'users:signup' %}">회원가입</a>
  </li>
  {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clothes:clothes_list_upper' %}">상의</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clothes:clothes_list_pants' %}">하의</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clothes:clothes_list_onepiece' %}">원피스</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clothes:clothes_list_outer' %}">아우터</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clothes:clothes_list_shoes' %}">신발</a>
    </li>
  </ul>

