{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">전체</th>
        <th scope="col">상품명</th>
        <th scope="col">판매가</th>
        <th scope="col">마켓</th>
        <th scope="col">주문관리</th>
      </tr>
    </thead>
    <tbody>
      {% for item in list_items %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{% include "mixins/list_card.html" with clothes=item.clothes %}</td>
        <td>{{item.clothes.price}}</td>
        <td>{{item.clothes.market}}</td>
        <td><a href="{% url 'lists:remove_list' item.clothes.pk %}">삭제하기</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}