{% extends 'base.html' %}

{% block content %}
<div class="t-container t-mx-auto t-flex t-justify-around">
    <img class="t-mr-10" src="{{clothes.thumbnail}}" style="width: 30rem">
    <div class ="t-flex-col t-justify-between">
        <h3>{{clothes.name}}</h3>
        <h5>{{clothes.description}}</h5>
        <h7>가격 : {{clothes.price}} </h7>
        <select class="form-select form-select-sm" style="width: 8rem" aria-label=".form-select-sm example">
            <option selected>사이즈-색상</option>
            {% for option in product %}
                {% if option.is_soldout %}
                    <option value="{{option.size}}">{{option.size}}-{{option.colors}}</option>
                {% endif %}
                    <option value="{{option.size}}">{{option.size}}-{{option.colors}}</option>
            {% endfor %}
        </select>
    <a href = '{% url 'lists:add_list' clothes.pk %}'>
        장바구니에 담기
    </a>
    </div>
</div>
{% endblock content %}

