{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class = "t-container t-mx-auto t-justify-around t-pb-10">
        <div class="t-flex t-flex-wrap  t-mb-10 t-justify-between -t-x-36">
            {% for c in clothes %}
                <a href ='{% url 'clothes:clothes_detail' c.pk %}'>
                    <div class="card t-mb-10" style="width: 18rem;">
                        <div class="embed-responsive embed-responsive-4by3">
                            <img src="https://bulma.io/images/placeholders/96x96.png" class="card-img-top embed-responsive-item">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{c.name}}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
            
        {% if clothes.has_previous %}
            <a href="?page={{clothes.previous_page_number}}">이전</a>
            
        {% endif %}
            
        Page {{clothes.number}} / {{clothes.paginator.num_pages}}
            
        {% if clothes.has_next %}
            <a href = "?page={{clothes.next_page_number}}">다음</a>
        {% endif %}
    </div>
            

{% endblock content %}