{% extends 'base.html' %}

{% block content %}

    {% if products %}
        <div class = "t-container t-w-full">
            <div class="t-flex ">
                {% for product in products %}
                    {% include "mixins/clothes_card.html" with clothes=product %}
                {% endfor %}
            </div>
            {% if products.has_previous %}
                <a href="?page={{products.previous_page_number}}">이전</a>
            {% endif %}

            Page {{products.number}} of {{products.paginator.num_page}}

            {% if products.has_next %}
                <a href="?page={{products.next_page_number}}">다음</a>
            {% endif %}
            
            {% for page in products.paginator.page_range %}
                {{page}}
            {% endfor %}
    
        </div>
    {% elif request.GET.search_keyword %}
    <div class = "t-text-center ">
       <h3>죄송합니다. 현재 찾으시는 {{request.GET.search_keyword}} 상품이 없습니다.</h3>
    </div>
    {% endif %}
    

{% endblock content %}