{% extends 'base.html' %}

{% block content %}

    {% if clothes %}
        <div class = "t-container t-w-full">
            <div class="t-flex ">
                {% for c in clothes %}
                    {% include "mixins/clothes_card.html" with clothes=c %}
                {% endfor %}
            </div>
            {% if clothes.has_previous %}
                <a href="?page={{clothes.previous_page_number}}">이전</a>
            {% endif %}

            Page {{clothes.number}} of {{clothes.paginator.num_page}}

            {% if clothes.has_next %}
                <a href="?page={{clothes.next_page_number}}">다음</a>
            {% endif %}
            
            {% for page in clothes.paginator.page_range %}
                {{page}}
            {% endfor %}
    
        </div>
    {% elif query %}
    <div class = "t-text-center ">
       <h3>죄송합니다. 현재 찾으시는 {{query}} 상품이 없습니다.</h3>
    </div>
    {% endif %}
    

{% endblock content %}