{% extends 'base.html' %}
{% block content %}
<form action ="{% url 'orders:order_success' %}" method = "POST">
<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="https://bulma.io/images/placeholders/96x96.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.size}} - {{product.colors}}</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% include 'orders/address.html' %}

<button type="submit" class="btn btn-outline-secondary" style="margin-right:5px;">구매하기</button>

{% endblock content %}     